<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.airmonitor.airmonitor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_baby"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_baby_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:screenOrientation="portrait">
        </activity>
        <provider
            android:authorities="com.example.airmonitor.airmonitor"
            android:name="com.example.airmonitor.airmonitor.Data.AirMonitorContentProvider"
            android:exported="false"/>
        <service
            android:name=".Sync.AirMonitorSyncIntentService"
            android:exported="false" />
        <service
            android:name=".Sync.AirMonitorFirebaseJobService"
            android:exported="false"/>
    </application>

</manifest>